#root {
  min-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  height: 100%;
  display: flex;
}

#forms {
  flex: 1;
  padding: 25px;
}

label {
  display: block;
}

#render {
  padding: 25px;
  background-color: #fff;
  color: #000;
  flex: 1;
}
